each val in data
    li.flex(onclick="addEquivalent(this)" data-product_id=val.id)
        img(src=val.picture_name!=null?"http://busdetal.biz/public/img/products/"+val.picture_name:"http://busdetal.biz/public/img/no_photo.jpg")
        div
            div.row!="<strong>"+val.product_name+"</strong>("+val.info+")"
            div.row!="<strong>ОЕ:</strong>"+val.vin+" <span class='artikul'><strong>Артикул:</strong>"+val.providers_artikul+"</span>"

