mixin row(data, styleNone, index)
	tr(style=styleNone)
		td
			select(style="width:100%" data-placeholder="Артикул поставщика" id="providersArtikul_"+index onchange="artikulChanged(this)")
				option
		td
			select(style="width:100%" data-placeholder="Название" id="name_"+index onchange="tovarChanged(this)")
				option
		td(id="prodInfo_"+index)

		td(class="price-uah hidden")
			input(class="form-control" data-type="number" type="text" id="priceUah_"+index onchange="convertToEur(this)")
		td
			input(class="form-control" data-type="number" type="text" id="price_"+index onchange="findSeilPrice(this);findOrderSumm()")
		td
			input(class="form-control" data-type="number" type="text" id="seilPrice_"+index)
		td
			input(class="form-control" type="text" id="qty_"+index onchange="qtyChanged(this)")
		td(class="text-center")
			button(type="button" class="btn btn-danger" id="groupButton_"+index data-toggle="modal" data-target="#departmentOrdering_"+index) Распределение
				span(class="badge badge-default badge-pill" id="undef-qty") 0
			div(class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="departmentOrdering_"+index)
				div(class="modal-dialog modal-sm" role="document")
					div(class="modal-content")
						div(class="modal-header")
							button(type="button" class="close" data-dismiss="modal" aria-label="Close")
								span(aria-hidden="true") &times;
							h4(class="modal-title" id="myModalLabel") Распределение по отделам
						div(class="modal-body")
							ul(class="list-group")
								each val in data.departments
									li(class="list-group-item justify-content-between")=val.name
										if val.id==1
											span(class="badge red badge-default badge-pill" id="undef-qty") 0
											span(class="badge badge-default badge-pill pull-right" id="departmentRes_"+index) 0
										else
											input(class="form-control pull-right input_qty_dialog" id="department_"+val.id type="text" onchange="checkResidues(this)")
											input(class="form-control pull-right input_qty_dialog input_qty_residues" id="departmentRes_"+val.id disabled type="text" value="0" onchange="checkResidues(this)")
						div(class="modal-footer")
							button(type="button" class="btn btn-primary" data-dismiss="modal") Закрыть